:root {
  --base-color: rgb(150, 200, 220);
  --card-color: rgb(220, 238, 206);
  --black: rgb(50, 50, 50);
  color: var(--black);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: var(--base-color);
}

.uk-card-default {
  background: var(--card-color);
}

ul {
  list-style-type: disc ;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bolder;
  color: var(--black);
}

.navbar-item {
  font-size: 1.3em;
  font-weight: bolder;
  color: var(--black);
}

.navbar-celular {
  font-size: 1.3em;
  font-weight: bolder;
  color: var(--black);
}

.contenedor {
  border: none;
  background-color: var(--base-color);
}

.contenedor-inicio {
  border: none;
  background-color: var(--base-color);
  background-image: url(images/foto007_2.jpeg);
  background-size: cover;
  width: 99.1vw;
  height: 100vh;
  position: relative;
  text-align: center;
  color: rgb(250, 250, 250);
  margin-top: -80px;
  font-style: normal;
  font-weight: bolder;
  font-size: 3em;
}

.inicio-texto-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inicio-texto02 {
  font-style: normal;
  font-weight: bolder;
  font-size: 3em;
}

.seccion-titulo {
  font-weight: 500;
}

.foto-carrusel {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.map {
  width: 100%;
  height: 500px
}

.ubicacion {
  width: 100%;
  height: 500px;
}